body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bolder;
}


header {
    background-color: white;
    color: white;
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color: grey;
    
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: rgb(78, 129, 78);
    padding: 10px 15px;
    margin: 0 10px; /* Adjusted margin for spacing between links */
}


.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: gray; /* Green color, you can change this */
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}
